@import "src/theme/theme-variables";

.container {
    text-align: center;  
    padding: 1em;
  }

.form-container,
.mat-form-field {
  width: 100%;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    margin:-10px;
   
  }
  
.flex>* {
    flex: 1 1 auto;
    margin: 10px;
  }
  
.logo {
    width: 150px;
    margin: 0 auto;
  }
  
q {
    font-style: italic;
    quotes: "« " " »";
  }
  

.cm-error {
  color: mat-color($app-warn);
}

table {
    width: 100%;
  }